@model IEnumerable<OnlineSchool_Project.Models.User.KhoaHocViewModel>

@{
	ViewData["Title"] = "Chi tiết khóa học";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Home -->
<div class="home">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="breadcrumbs_list d-flex flex-row align-items-center justify-content-start">
						<li><a href="/">trang chủ</a></li>
						<li><a href="/User/Khoahoc">khóa học</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Intro -->
@foreach (var item in Model)
{
	<div class="intro">
		<div class="intro_background parallax-window" data-parallax="scroll" data-image-src="~/images/khoahoc/@item.KhoaHocs.UrlImage" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_container d-flex flex-column align-items-start justify-content-end">
						<div class="intro_content">
							<div class="intro_price">Free</div>
							<div class="rating_r rating_r_4 intro_rating"><i></i><i></i><i></i><i></i><i></i></div>
							<div class="intro_title">
								@item.KhoaHocs.TenKhoaHoc
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@foreach (var item in Model)
{
	<!-- Course -->
	<div class="course" style="top: -13.1rem;">
		<div class="course_top"></div>
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Panels -->
				<div class="col-lg-9">
					<div class="tab_panels">

						<!-- Tabs -->
						<div class="course_tabs_container">
							<div class="container">
								<div class="row">
									<div class="col-lg-9">
										<div class="tabs d-flex flex-row align-items-center justify-content-start">
											<div class="tab active">Mô tả</div>
											<div class="tab">Chương học</div>
											<div class="tab">Đánh giá</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Description -->
						<div class="tab_panel description active">
							<div class="panel_title">Thông tin về khóa học</div>
							<div class="panel_text">
								<p>@item.KhoaHocs.MoTa</p>
							</div>

							<!-- FAQs -->
							<div class="faqs">
								<div class="accordions">

									<div class="elements_accordions">
									</div>

								</div>
							</div>
						</div>

						<!-- Curriculum -->
						<div class="tab_panel curriculum">
							@foreach (var chuongHoc in item.ChuongHocs)
							{
								<div class="panel_title">Chương học</div>
								<div class="panel_text">
									<p>@chuongHoc.MoTa</p>
								</div>
							}
							<div class="curriculum_items">
								<div class="cur_item">
									<div class="cur_title_container d-flex flex-row align-items-start justify-content-start">
										@* <div class="cur_title">@item.ChuongHocs.TenChuongHoc</div> *@
									</div>
									<div class="cur_item_content">
										@* <div class="cur_item_title">@item.BaiHocs.TenBaiHoc</div>
										<div class="cur_item_text">
											<p>@item.BaiHocs.MoTa</p>
										</div> *@
										<div class="cur_contents">
											<ul>
												<li>
													<i class="fa fa-folder" aria-hidden="true"></i><span>Video</span>
													<ul>
														@foreach (var baiHoc in item.BaiHocs)
														{
															<li class="d-flex flex-row align-items-center justify-content-start">
																<i class="fa fa-video-camera" aria-hidden="true"></i><span> <a href="@baiHoc.UrlVideo">@baiHoc.TenBaiHoc</a></span>
																<div class="cur_time ml-auto"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
															</li>
														}
													</ul>
												</li> 
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Reviews -->
						<div class="tab_panel reviews">
							<div class="panel_title">Reviews</div>
							<div class="panel_text">
								<p>Lorem ipsum dolor sit amet, te eros consulatu pro, quem labores petentium no sea, atqui posidonium interpretaris pri eu. At soleat maiorum platonem vix, no mei case fierent. Primis quidam ancillae te mei.</p>
							</div>

							<div class="cur_reviews">
								<!-- Review -->
								<div class="review">
									<div class="review_title_container d-flex flex-row align-items-start justify-content-start">
										<div class="review_title d-flex flex-row align-items-center justify-content-center">
											<div class="review_author_image"><div><img src="~/images/review_1.jpg" alt=""></div></div>
											<div class="review_author">
												<div class="review_author_name"><a href="#">Sarah Parker</a></div>
												<div class="review_date">Sep 29, 2017 at 9:48 am</div>
											</div>
										</div>
										<div class="review_stars ml-auto"><div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div></div>
									</div>
									<div class="review_text">
										<p>Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum, turpis ipsum rhoncus massa, sed commodo nisi lectus id ipsum. Sed nec elit vehicula.</p>
									</div>
								</div>

								<!-- Review -->
								<div class="review">
									<div class="review_title_container d-flex flex-row align-items-start justify-content-start">
										<div class="review_title d-flex flex-row align-items-center justify-content-center">
											<div class="review_author_image"><div><i class="fa fa-user" aria-hidden="true"></i></div></div>
											<div class="review_author">
												<div class="review_author_name"><a href="#">Sarah Parker</a></div>
												<div class="review_date">Sep 29, 2017 at 9:48 am</div>
											</div>
										</div>
										<div class="review_stars ml-auto"><div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div></div>
									</div>
									<div class="review_text">
										<p>Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum, turpis ipsum rhoncus massa, sed commodo nisi lectus id ipsum. Sed nec elit vehicula.</p>
									</div>
								</div>

								<!-- Review -->
								<div class="review">
									<div class="review_title_container d-flex flex-row align-items-start justify-content-start">
										<div class="review_title d-flex flex-row align-items-center justify-content-center">
											<div class="review_author_image"><div><i class="fa fa-user" aria-hidden="true"></i></div></div>
											<div class="review_author">
												<div class="review_author_name"><a href="#">Sarah Parker</a></div>
												<div class="review_date">Sep 29, 2017 at 9:48 am</div>
											</div>
										</div>
										<div class="review_stars ml-auto"><div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div></div>
									</div>
									<div class="review_text">
										<p>Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum, turpis ipsum rhoncus massa, sed commodo nisi lectus id ipsum. Sed nec elit vehicula.</p>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<!-- Sidebar -->
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="sidebar_background"></div>
						<div class="sidebar_top"><a href="#">ĐĂNG KÝ NGAY</a></div>
						<div class="sidebar_content">

							<!-- Features -->
							<div class="sidebar_section features">
								<div class="sidebar_title">Tính năng khóa học</div>
								<div class="features_content">
									<ul class="features_list">

										<!-- Feature -->
										<li class="d-flex flex-row align-items-start justify-content-start">
											<div class="feature_title"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Thời gian</span></div>
											<div class="feature_text ml-auto">2 tuần</div>
										</li>

										<!-- Feature -->
										<li class="d-flex flex-row align-items-start justify-content-start">
											<div class="feature_title">
												<i class="fa fa-bell" aria-hidden="true"></i><span>
													Bài giảng
												</span>
											</div>
											<div class="feature_text ml-auto">10</div>
										</li>

										<!-- Feature -->
										<li class="d-flex flex-row align-items-start justify-content-start">
											<div class="feature_title"><i class="fa fa-id-badge" aria-hidden="true"></i><span>Câu hỏi</span></div>
											<div class="feature_text ml-auto">3</div>
										</li>

										<!-- Feature -->
										<li class="d-flex flex-row align-items-start justify-content-start">
											<div class="feature_title"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span>Tỷ lệ phần trăm đạt</span></div>
											<div class="feature_text ml-auto">60</div>
										</li>
									</ul>
								</div>
							</div>

							<!-- Cert -->
							<div class="sidebar_section cert">
								<div class="sidebar_title">Certification</div>
								<div class="cert_image"><img src="~/images/cert.jpg" alt=""></div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
}