@model OnlineSchool_Project.Models.GiangVien
@{
    ViewData["Title"] = "Quản lý Giảng viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 
<h1>Xóa GiangVien</h1>

<h3>Có chắc muốn xóa?</h3>
<div>
    <h4>Id: @Model.Id</h4>
    <h4>HoTen: @Model.HoTen</h4>
    <h4>Email: @Model.Email</h4>
    <h4>Sdt: @Model.Sdt</h4>
    <h4>BangCap: @Model.BangCap</h4>
    <h4>DiaChi: @Model.DiaChi</h4>
    <h4>GioiTinh: @Model.GioiTinh</h4>
    <h4>NgaySinh: @Model.NgaySinh.ToString("yyyy-MM-dd")</h4>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index">Trở lại trang trước</a>
</form>