@model OnlineSchool_Project.Models.DanhGiaKhoaHoc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DanhGiaKhoaHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietDanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiTietDanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemDanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemDanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idHocVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idHocVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idKhoaHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idKhoaHoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
